body{
    font-family: 'Luckiest Guy', cursive;
    color: #003580;
}
h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
h2, .percent{
    font-weight: 100;
    color: white;
}

.parsing_block{
    margin: auto;
    width: 520px;
    text-align: center;
    padding: 20px;
    background: #003580;
    position: relative;
}
.calculation__field{
    margin-bottom: 25px;
    color: white;
}
.calculation__field-desc{
    display: block;
}
.calculation__field-desc span{
    color:#febb02;
}
.calculation__field input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #febb02;
}
.small_field{
    max-width: 150px;
    display: inline-block;
    margin: 0px 10px 25px 0px;
}
.calculation__field-btn{
    width: 302px;
    background: #55af32;
    padding: 10px;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    border: none;
    cursor: pointer;
}
.refresh{
    position: absolute;
    color: white;
    font-size: 20px;
    padding: 4px 10px;
    width: fit-content;
    background: #55af32;
    cursor: pointer;
    right: 0px;
    margin-right: 20px;
}
.calculation__field-btn:hover, .refresh:hover{
    color: #003580;
    background: #febb02;
}
.calculation__field .error{
    border: 2px solid red;
}
.parsing_process,.success, .error_block{
    display: none;
}
.error_block{
    color: red;
}
.success{
    color: #55af32;
}
.log{
    font-family: monospace;
    text-align: left;
    background: white;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
    color: #003580;
    padding: 20px;
}
.parsing_process progress[value] {
    appearance: none;
    border: none;
    width: 100%; height: 39px;
    background-color: white;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
}

.parsing_process progress[value]::-webkit-progress-bar {
    background-color: white;
}

.parsing_process progress[value]::-webkit-progress-value {
    position: relative;
    background: #febb02;
    animation: animate-stripes 5s linear infinite;
}
.calculation__field select{
    width: fit-content;
    padding: 8px 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 2px solid #febb02;

}

